/* Modal Background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  z-index: 1000;
  flex-direction: column;
}

/* Modal Box */
.modal-content {
  background: #292931;
  padding: 2.5em 2.5em 1.5em  2.5em ;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 35em;
  text-align: center;
  animation: slideIn 0.3s ease-in-out;
}

/* Shake Animation (Only for Error Messages) */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

.shake {
  animation: shake 0.3s ease-in-out;
}

/* Input Fields */
.modal-content input {
  background: transparent;
  width: 100%;
  color: #eecc64;
  padding: 10px;
  margin: 9px 0 5px 0;
  border: 1px solid #eecc64;
  border-radius: 5px;
  outline: none;
}

/* Error Messages (Shaking Effect Applied Here) */
.error-message {
  color: #ff4538;
  font-size: 0.9em;
  text-align: left;
  margin-top: 3px;
}

/* Password Container */
.password-container {
  position: relative;
}

.eye-open {
  user-select: none;
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 21px;
  margin: auto;
  align-items: center;
  align-content: center;
}

/* Buttons */
.modal-content button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content .login-btn {
  background: #7c4e18;
  color: white;
}

.modal-content .login-btn:hover {
  background: #865822;
}

.modal-content .close-btn {
  background: gray;
  color: white;
}

.modal-content .close-btn:hover {
  background: darkgray;
}

.sign-up-p{
  p{
    cursor: pointer;
  }
}

/* Animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
