.nav {
    background: linear-gradient(359deg, #292931, #2828375c);
    grid-column: 2 / 3;
    display: flex;
    height: 4em;
    justify-content: space-between;
    padding: 10px 18px;
}

button {
    font-size: 1.2em;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #f19c20;
    background-color: transparent;
    color: #f19c20;
    cursor: pointer;
}

/* Menu Icon */
.menu-icon {
    font-size: 24px;
    color: #f19c20;
    cursor: pointer;
    display: none;
}

/* Show Menu Icon on Small Screens */
@media (max-width: 850px) {
    .menu-icon {
        display: block;
    }
}

@media (max-width: 850px) {
    .nav-link {
        padding: 10px 11px 9px 0px;
    }
}