.strek-container {
  overflow-y: auto;
}

.Habit-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em;
  font-size: 0.8em;
}

.filter-habit {
  font-family: "Phudu", serif;
}

.filter-habit select {
  background: transparent;
  color: #ff483d;
  padding: 6px 3px;
  font-size: 16px;
  letter-spacing: 5px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #ff483d;
  cursor: pointer;
  transition: all 0.3sease-in-out;
  outline: none;
}

/* Hover effect */
.filter-habit select:hover {
  border-color: #ee433a;
}

/* Focus effect */
.filter-habit select:focus {
  border-color: #ee433a;
}

/* Dropdown options styling */
.filter-habit select option {
  background: #5f102a;
  /* Dark background for dropdown */
  letter-spacing: 5px;
  color: #9a888e;
  padding: 10px;
}

.filter-habit select option:hover {
  background-color: yellow;
}

/* Highlight selected option */
.filter-habit select option:checked {
  background: #dc8a18;
  color: black;
}

@media (max-width: 550px) {
  .strek-container {
      overflow-y: hidden;
  }

  .filter-habit select {
      width: 5em;
      letter-spacing: 0;
  }

  .display-streak-XPPoints {
      font-size: 1.2em;
      margin: 0;
  }
}