/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply styles to the entire page */
html, body {
  font-family: "Mulish", serif;
  /* font-family: 'Arial', sans-serif; */
  background-color: #292931;
  color: #f19c20;
  line-height: 1.6;
}

/* Scrollbar Styling (Optional) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

