.display-streak-XPPoints {
    display: flex;
    height: 4.6em;
    margin-right: 2em;
    flex-direction: column;
    font-size: 0.9em;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-end;
}