.track-app {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

@media (max-width: 850px) {
    .track-app {
        display: block;
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 2em;
    }
    h2{
        font-size: 1.3em;
    }
}