/* Webkit-based browsers (Chrome, Edge, Safari) */
.expandHabitCard::-webkit-scrollbar {
    width: 6px;
}

.expandHabitCard::-webkit-scrollbar-track {
    background: transparent;
}

.expandHabitCard::-webkit-scrollbar-thumb {
    background: rgba(219, 56, 111, 0.4);
    border-radius: 10px;
}

.expandHabitCard::-webkit-scrollbar-thumb:hover {
    background: rgba(219, 56, 111, 0.6);
}

.calendar-detail::-webkit-scrollbar {
    width: 6px;
}

.calendar-detail::-webkit-scrollbar-track {
    background: transparent;
}

.calendar-detail::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.calendar-detail::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}
